 .u-section-1 {
  background-image: url("images/CopyofRedModernHiringInstagramPost1.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 846px;
}

.u-section-1 .u-image-1 {
  width: 706px;
  height: 324px;
  margin: 154px 161px 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  text-shadow: -2px -2px 8px rgba(128,128,128,1);
  font-weight: 700;
  font-family: Merriweather, serif;
  margin: -306px 359px 0 471px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-family: "Abhaya Libre";
  font-weight: 300;
  margin: 19px 199px 60px 311px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 698px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 259px;
    margin-left: 371px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 99px;
    margin-left: 211px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 535px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 14px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 149px;
    margin-left: 261px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 90px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 325px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 248px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: -230px;
    margin-right: 59px;
    margin-left: 171px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 359px;
  }

  .u-section-1 .u-image-1 {
    height: 156px;
    margin-top: 94px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.875rem;
    width: 80px;
    margin-top: -138px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.75rem;
    width: auto;
    margin-top: 10px;
  }
}