 .u-section-1 {
  background-image: url("images/RedModernHiringInstagramPost10.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 812px;
}

.u-section-1 .u-shape-1 {
  height: 404px;
  width: 404px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 53px auto 0 213px;
}

.u-section-1 .u-shape-2 {
  height: 416px;
  width: 447px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -404px 236px 0 auto;
}

.u-section-1 .u-text-1 {
  background-image: none;
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 900;
  margin: -333px 148px 60px 295px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 670px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 48px;
    margin-left: 195px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 513px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 23px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 385px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: 136px;
  }

  .u-section-1 .u-shape-2 {
    margin-right: 93px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 267px;
  }

  .u-section-1 .u-shape-1 {
    height: 340px;
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-2 {
    height: 340px;
    width: 340px;
    margin-top: -340px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin: -247px -103px 42px 103px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1587px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 23px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 655px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  margin: 30px 0 0;
}

.u-section-2 .u-form-1 {
  height: 393px;
  width: 510px;
  margin: 50px 0 0;
}

.u-section-2 .u-image-1 {
  width: 75px;
  height: 75px;
  margin: -75px auto 0 117px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 655px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-2 .u-image-2 {
  width: 370px;
  height: 370px;
  background-image: url("images/b21e79ee0c302463a9e3b0b09e174372f2a1ee29f95e5db8a583a9cd1466dadd41bbc8315618944517e79282eed07b62a846663f7e68cd9445d9f6_1280.jpg");
  background-position: 50% 50%;
  margin: 30px auto 0;
}

.u-section-2 .u-map-1 {
  height: 530px;
  margin-top: -11px;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1472px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 540px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-form-1 {
    width: 410px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 540px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1346px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-form-1 {
    width: 300px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 414px;
  }

  .u-section-2 .u-image-2 {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1653px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 712px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 352px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1423px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 347px;
  }
}