 .u-section-1 {
  min-height: 1193px;
}

.u-section-1 .u-image-1 {
  min-height: 666px;
  height: auto;
  margin-top: -20px;
  margin-bottom: 0;
  background-image: url("images/RedModernHiringInstagramPost9.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px 0 125px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1341px;
  margin: 25px calc(((100% - 1140px) / 2)  + -113px) 35px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 487px;
}

.u-section-1 .u-container-layout-2 {
  padding: 14px 0;
}

.u-section-1 .u-text-1 {
  font-family: Agbalumo;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  margin: 24px auto 0 -38px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 487px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-family: Agbalumo;
  margin: 14px auto 0;
}

.u-section-1 .u-text-4 {
  font-style: italic;
  margin: 24px 0 0 10px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1018px;
  }

  .u-section-1 .u-image-1 {
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 50px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 341px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 341px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1120px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1170px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    min-height: 403px;
    margin-top: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }
}